.champion-select-display--wrapper {
    display: grid;
    grid-template-rows: 1fr 120px;
    height: 100%;
    row-gap: 20px;
    margin: 0 auto;
    min-height: 0;
    max-width: 800px;
    & > .select {
        min-height: 0;
    }
    & > .controls {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr auto;
        height: 100%;
        & > .selected-display {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr 25px;
            column-gap: 20px;
            min-height: 0;
            height: 100%;
            & > img {
                height: 90px;
                grid-row: 1/3;
            }
            & > h3 {
                font: 4em 'Hyperwave';
            }

        }
    }
}