.champion-select-display--wrapper {
    display: grid;
    grid-template-rows: 75vh 1fr;
    row-gap: 20px;
    margin: 0 auto;
    max-width: 900px;
    & > .select {
        height: 75vh;
    }
    & > .controls {
        height: 100%;
        display: grid;
        padding: 0px 15px;
        place-content: center right;
    }
}