button{
    background-color: transparent;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 15px;
    padding: 20px;
    color: var(--text-primary);
    border: 4px solid var(--text-primary);
    transition: border-color 250ms, color 250ms;
    @media screen and (max-width: 800px) {
        font-size: 1em;
        padding: 20px 20px 20px 37px;
        border: 2px solid var(--text-primary);
    }
    &:hover {
        color: var(--accent);
        border-color: var(--accent);
    }
}