input[type=text] {
    font-size: 1.4rem;
    padding: 5px 10px;
    background-color: var(--champion-select-search-bg);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px var(--elevation-shadow);
    color: var(--text-primary);
}
