nav {
    box-sizing: border-box;
    position: sticky;
    z-index: 500;
    top: 0px;
    height: 60px;
    width: 100%;
    padding: 0px 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--bg-primary);
    & a.name {
        display: grid;
        color: transparent;
        place-content: center;
        font: 3em "Poppins";
        text-decoration: none;
        
    }
}