.draft-settings--wrapper {
    &>.time-limits {
        display: grid;
        padding: 15px 0px 0px 0px;
        grid-template-columns: 1fr 80px;
        row-gap: 15px;
        column-gap: 10px;
        font-family: 'Rubik';

        .timer-toggle {
            margin-left: auto;
            padding-right: 5px;
        }

        &>label.seconds {
            padding-top: 8px;
            font-size: 1.4em;
            color: #aaa;
        }

        &>input[type=text] {
            text-align: center;
        }
    }
}
