.options-display--wrapper {
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 350ms ease-in-out;
    &>.content {
        box-sizing: border-box;
        overflow: scroll;
        &>nav.options-tabs {
            background-color: inherit;
            display: grid;
            column-gap: 5px;
            grid-template-columns: min-content auto;
            overflow: scroll;
            &>button {
                width: min-content;
                font-size: 1em;
                color: grey;
                padding: 8px 15px;
                border-radius: 4px 4px 0px 0px;
                box-shadow: none;
                font-family: 'Rubik';
                &.selected {
                    color: white;
                    background-color: var(--bg-primary);
                }
            }
        }
    }
}