.champion-select--wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    & > .filter-options {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 50px;
        & > input[type=text] {
            font-size: 1.4rem;
            padding: 5px 10px;
            width: 360px;
            background-color: var(--bg-primary-light);
            border: none;
            border-radius: 4px;
            box-shadow: 2px 2px 5px 1px black;
            color: var(--text-primary);
            @media screen and (max-width: 1500px) {
                width: 250px;
            }
            @media screen and (max-width: 1200px) {
                width: 200px;
            }
            @media screen and (max-width: 1200px) {
                width: 150px;
            }
        }
    }
    & > .results {
       max-height: 100%;
       overflow: hidden;
        & .resizable-container {
            box-sizing: border-box;
            max-height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 10px;
            padding: 0px 15px;
            width: 100%;
            @media screen and (max-width: 1500px) {
                grid-template-columns: repeat(5, 1fr);
            }
            @media screen and (max-width: 1200px) {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}