.team-pick-display--wrapper {
    height: 100%;
    &.currently-picking {
        & > .pick {
            height: calc((100% - 200px)/5 - 2px);
            &.currently-picking {
                height: calc((100% - 200px)/5 + 10px);
            }
        }
    }
    & > .pick {
        height: calc((100% - 200px)/5);
    }
    & > .ban-row {
        height: 100px;
        display: grid;
        grid-auto-flow: column;
        column-gap: 5px;
    }
}