:root{
    --bg-primary-dark: #000000;
    --bg-primary: #101010;
    --bg-primary-light: #202020;
    --text-primary: white;
    --accent-primary: #FFD700;
    --accent-secondary: #5600b3;
    --success: #7eff00;
}