main.draft--wrapper {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    padding-top: 20px;
    overflow: scroll;
    display: grid;
    & > .pickban-select--wrapper {
        display: grid;
        grid-template-columns: 400px 1fr 400px;
        height: 98%;
    }
}
