main.draft--wrapper {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    padding-top: 20px;
    overflow: scroll;
    display: grid;
    & > .pickban-select--wrapper {
        display: grid;
        grid-template-columns: 460px 1fr 460px;
        height: 98%;
        min-height: 0;
    }
}
